.App {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: auto;
  width: 90vw;
}

.dropdown{
  background-color: #c5c2c2;
  padding-left: 10px;
  padding-right: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  position: relative;

}

.select{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c5c2c2;
  flex-grow: 0;
}

.options-wrapper{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #c5c2c2;
  width: 250px;
  gap: 5px;
  top: 60px;
  border-radius: 10px;
}

a{
  text-decoration: none;
  color: black;
  transition: all;
  transition-duration: 0.4s;
  border-radius: 4px;
  /* font-size: 20px; */
}

a:hover{
  background-color: black;
  color: white;
  padding-left: 10px;
  font-weight: 900;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.test {
  display: flex;
  padding: 10px;
  min-width: 250px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(0, 0, 0,  0.7);
  border-radius: 10px;
  font-size: 10px;
}

.chart__wrapper {
  margin-top: 150px;
  box-shadow: 0px 5px 10px 5px #cfd8dc;
  width: 90vw;
  height: 600px;
  border-radius: 10px;
  border: 1px #eeeeee solid;
  background-color: #eceff1;
}
.filter__wrapper {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.resize_button_wrapper{
  display: flex;
  justify-content: flex-end;
}

.resize_button{
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #c5c2c2;
  border: none;
}

.resize_button:hover{
  cursor: pointer;
}